extends ../layout

block content
	script(src='/javascripts/web-sockets.js')
	h1 User profile
	h2 Account info
	p Id: #{user.id}
	if user.google
		p Name:	#{user.google.name}
		p Email: #{user.google.email}
	p --------------------------------------------------------------
	h2 Socket info for 
		span(id='username') unkown member
	p RSS: 
		span(id='rss') 111
	p Heap total: 
		span(id='heapTotal') 2222
	p Heap used: 
		span(id='heapUsed') 3333
	p --------------------------------------------------------------
	h2 Messages form others people 
		div(id='messages') 