extends layout

block content
   h1= title
   p Welcome to #{title}
      a(href=oauthUrl) Do Google Auth
   p --------------------------------------------------------------------
      a(href='/auth/google') Do Google Auth by passrort strategy

